@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --editor-color: unset;
  --editor-bgColor: white;
}

@layer base {
  html {
    @apply overflow-hidden;
  }
  body {
    @apply font-mono;
  }
  img {
    @apply w-full h-full object-cover;
  }
  .customScroll {
    @apply scrollbar-thin scrollbar-thumb-orange-200 scrollbar-track-orange-100/25 scrollbar-thumb-rounded-md scrollbar-track-rounded-sm;
  }
  .mainBody {
    height: calc(100vh - 52px);
  }
  .notes {
    height: calc(100vh - 155px);
  }
  .createBlock .noteView {
    grid-template-columns: minmax(170px, 1fr) minmax(auto, 75px);
  }
  .noteContent .title input {
    background-color: var(--editor-bgColor);
    color: var(--editor-color);
  }
  .noteContent .note iframe {
    height: calc(100vh - 154px);
  }
}

.active {
  @apply border-orange-300 rounded text-orange-400 bg-orange-100/25;
}

.activatedFolder {
  @apply border-orange-400 bg-orange-50;
}
